Empresa/Empresa/Connected Services/Service/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QtdFuncionario" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="empresa" nillable="true" type="tns:empresa" />
  <xs:complexType name="ArrayOfempresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empresa" nillable="true" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfempresa" nillable="true" type="tns:ArrayOfempresa" />
</xs:schema>